#mesasContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mesa {
    background-color: #f4b400;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    min-width: 80px;
    text-align: center;
}

.spacer {
    width: 40px; /* Ajusta el tamaño del espacio entre grupos */
}
